<h2>Services</h2>

<h3>Get List</h3>

@if(getListTasks(); as data) {
<ul>
    @for (item of data; track item) {
    <li>
        {{ item.id }} - {{ item.title }} - <button (click)="httpTasksDelete(item.id)">Delete</button>
    </li>
    } @empty {
    <li>
        Sem dados carregados!
    </li>
    }
</ul>
}
@else {
<li>
    Loading...
</li>
}
<h3>Get Item Id</h3>
@if (getTasksId(); as data) {

<p>Get por ID: {{ data.id }} - {{ data.title }}</p>

}

<h3>Post Create</h3>
<input type="text" #creatTitle placeholder="Add title">
<button (click)="httpTasksCreate(creatTitle.value)">Create</button>

<h3>Patch Update</h3>
<input type="text" #updateId placeholder="Add id">
<input type="text" #updateTitle placeholder="Add title">
<button (click)="httpTasksUpdate(updateId.value, updateTitle.value)">Update</button>