:root {
    --primary: #a03ae48a;
    --primary-010: #a451dbc4;

    --secondary: #06374e;
    --secondary-010: #06628a;

    --third: #2e2e47f5;
    --third-010: #494970f5;

    --white: #fff;

    --black: #10101af5;
    --black-010: #1f1f24;

    --grey: #dfdfdf;
}