:root {
    --primary: #a03ae48a;
    --primary-010: #a451dbc4;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #10101af5;
    --black-010: #1f1f24;

    --grey: #fffcfc;
}